<h1>Check out the Companies!</h1>

<div> 
<% @companies.each do |company| %>
   <div> <img src="<%= company.picture %>" class= "img-rounded img-responsive company_image"  alt="<%= company.name %>">
   <div> <li><%= link_to company.name, company_path(company.id)%> </li></div>
<% end %>
</div>

  
  <%# <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div> %>