<h1>All About Hello Sunshine</h1>
<hr width="50%" class="float_left" >
<br>
<div>
<img src="/images/full_sunflower.PNG" width="600" heigth="400" class="float_right img-rounded img-responsive" alt="Responsive image">
</div>
<p>In a world where everything is a little more virtual these days, we at Hello Sunshine strive
    to bring together a community online. A community of families, music & dance lovers, and teachers
    to spark joy and sunshine into the souls of ages from small to tall!</p>
<br>
<br>
<br>
  <h3>  Hello, let the sunshine in!</h3>
  <hr width="30%" class="float_left">
  <br>
  <br>
  <h5> Meet the founders of Hello Sunshine:</h5>


<br>

 <div class="card border-warning mb-3" style="width: 18rem;">
      <img src="images/Rays_profile_pic.jpg" class="card-img-top" alt="Ray Founder Image">
      <div class="card-body">
        <h5 class="card-title">Hello Ray!</h5>
        <p class="card-text">He's originally from Jakarta, Indonesia! With a passion in photography and Software Engineering.</p>
       
      </div>
    </div>
 <br>
     <div class="card border-warning mb-3" style="width: 18rem;">
      <img src="images/Alyssa Easterly 380 pix wide Headshot.jpg" class="card-img-top" alt="Alyssa Founder Image">
      <div class="card-body">
        <h5 class="card-title">Hello Alyssa!</h5>
        <p class="card-text">A Fairfax, Virginia original. Alyssa wants to share music and dance with the world through teaching
        and faciliting Family Music classes on Hello Sunshine via Zoom and in person! Through learning Software Engineering
        she's excited to find new ways to share music through code too!</p>
      </div>
    </div>
