<h1>Course Index</h1>

<div>
    <% @courses.each do |course| %>
       <div><img src="<%= course.picture %>" class="img-rounded img-responsive teachers_image" ></div>
        <div><%= link_to course.title, course_path(course) %></div>
    <% end %>
</div>

