// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.courses_image {
    width: 400px;
    height: 321 px;
}

// .container {
//   grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
//   grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
// }

.card {
   background-color: peachpuff;
}

.row {
    
}