// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1, h2 {
  color: orange;
}

h3 {
  color: rgb(134, 74, 33);
}



// p {
//   text-align: center;
// }